/*container holding the image and text*/
#hood-poem-container {
	position: relative;
	background-color: #BDBEC0;
	width: 80%;
	padding: 1%;
}

#boy-pic {
	width: 31%;
	box-shadow: 0px 2px 9px 3px black;
}

#hood-poem {
	position: absolute;
	top: 10%;
	left: 2%;
	color: black;
	/*font-size: 0.73em;*/
	font-size: 0.9vw; 
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}

#pastel-poem-container {
	position: relative;
	background-color: #BCACC7;
	width: 80%;
	padding: 1%;
}

#sky-branch-pic {
	width: 75%;
	box-shadow: 1px 7px 12px 3px black;

}

#pastel-poem {
	position: absolute;
	top: 8%;
	left: 2%;
	color: wheat;
	font-family: font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	/*font-size: 0.98em*/
	font-size: 1.2vw;
}

#last-verse-pastel-poem {
	margin-top: unset;
	position: absolute;
	left: 33%;
	font-size: 1.2vw;
}

#landis-building{
	width: 75%;
	box-shadow: 0px 2px 9px 3px black;

}

#landis-building-poem-container{
	position: relative;
	width: 80%;
	padding: 1%;
	background-color: #459DF6;
}

.landis-building-picture-container{
	position: relative;
}

.words{
	color: #9BCAFA;
	font-family: font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.25vw;
}

.verse1{
	position: absolute;
	top: 0.7%;
	left: 1%;
}

.verse2{
	position: absolute;
	top: 18%;
	left: 10%;
}


.verse3{
	position: absolute;
	top: 0.7%;
	left: 37%;
}

.verse4{
	position: absolute;
	top: 18%;
	left: 37%;
}

.verse5{
	position: absolute;
	top: 27.7%;
	left: 44%;
}

.verse6{
	position: absolute;
	top: 0.5%;
	right: 25.2%;
}

body {
	background-color: #f0ac8f;
}

h2 {
	margin-top: 0;
}

ul {
	list-style-type: none;
}

/*Fixed box that always appears in right side of 
viewport*/
#fixed-right-box {
	position: fixed;
	top:10.8%;
	right: 0%;
	background-color: #f0ac8f;
	border: solid #9C4C2A;
	width: 18.1%;
	height: 30%;	
}

/*list inside the fixed-right-box that will be 
positioned relative to original position by
shifting to the left and top a bit to better match its container. Absolute, so it's positioned relative to the nearest positioned ancestor(in this case, te fixed-right-box)'
absolute positioning takes an element out of the "normal flow" of the page*/
#absolute-child-box {
	position: absolute;
	right: 4%;
	padding-left: 1%;
	margin-top: 3%;
}
